body,h1,p,div, ul, li {margin:0;
                   padding:0;} 
body {
        background-color:#6699CC;
        margin:0;
}
#divWrapper {width:910px;
              margin:20px auto;
}

#emptyDiv {
          display:block;
          float:left;
           height:25px;
           padding-left:235px;}
#btnsDiv { 
          background-color:inherit;
          padding-top:20px;
          padding-right: 10px;
          padding-bottom: 10px;
          padding-left:20px;
          }
#btnsDiv ul {list-style-type:none;}

#btnsDiv ul li {
                float:left;
                background-color:#6699CC;
				padding-right: 12px;
				padding-left: 12px;
}
#btnsDiv ul li a {
                  display:block;
                  height:25px; 
                  text-align:center;
                  text-decoration:none;
                  font-size:1em;
                  font-weight:bold;
                  color:#666;
                  padding-left:8px;
                  padding-right:8px;
                  letter-spacing:0.1em;
                  border:5px solid #6699CC;
                
			 } 
#btnsDiv a:hover{color:#f63;
				} 

h1  {
     padding-left:9.5em;
     padding-bottom:1.5em;
    }
	
